* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--c-fontColor1);
  font-family: var(--font-base);
}

:root {
  --font-base: "poppins", sans-serif;
  --c-color1: #badd7f;
  --c-color2: #ddeebf;
  --c-color3: #ffffff;
  --c-color4: #76a77b;
  --c-color5: #ffb380;

  --c-fontColor1: #344e36;
}

.navbar-header {
  /* position: fixed; */
  margin-left: 200px;
  padding-left: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  padding-top: 20px;
  background-color: var(--c-color2);
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: var(--c-fontColor1);
}
.sidebar .description {
  font-size: 14px;
}
.sidebar .nav-link:hover {
  background-color: var(--c-color3);
}

.icon-sidebar {
  height: 24px;
  width: 24px;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main-content {
  height: 100%;
  margin-left: 200px;
  padding: 20px;
}

@media (max-width: 575.98px) {
  .sidebar {
    width: 60px;
  }
  .sidebar .description {
    display: none;
  }
  .sidebar .nav-link {
    justify-content: center;
  }
  .main-content {
    margin-left: 60px;
  }
}
