* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--c-fontColor1);
  font-family: var(--font-base);
}

:root {
  --font-base: "poppins", sans-serif;
  --c-color1: #badd7f;
  --c-color2: #ddeebf;
  --c-color3: #ffffff;
  --c-color4: #76a77b;
  --c-color5: #ffb380;

  --c-fontColor1: #344e36;
}

.navbar-header{
  
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  z-index: 2;
  background-color: var(--c-color1);
}

.sidebar {
  position: absolute;
  top: 4rem;
  left: 0;
  height: calc(100vh - 4rem);
  width: 200px;
  z-index: 1;
  /* padding-top: 20px; */
  background-color: var(--c-color3);
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: var(--c-fontColor1);
}
.sidebar .description {
  font-size: 14px;
}
.sidebar .nav-link:hover {
  background-color: var(--c-color3);
}

.icon-sidebar {
  height: 24px;
  width: 24px;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main-content {
  position: absolute;
  top: 4rem;
  width: 70vw;
  height: calc(100vh - 4rem);
  margin-left: 200px;
  padding: 20px;
  background-color: var(--c-color2);
}

@media (max-width: 575.98px) {
  .sidebar {
    width: 60px;
  }
  .sidebar .description {
    display: none;
  }
  .sidebar .nav-link {
    justify-content: center;
  }
  .main-content {
    margin-left: 60px;
  }
}

.rightBar {
  position: absolute;
  top: 4rem;
  /* width: calc(30vw - 200px); */
  height: calc(100vh - 4rem);
  margin-left: 82vw; 
  z-index: 1;
  background-color: var(--c-color1);
  padding: 20px;
}

.btn-search{
  background-color: var(--c-color2);
}
